{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3"  style="border: 1px solid lightblue; border-radius: 10px; padding: 20px; margin-top: 30px; margin-bottom: 30px;">
            <div class="row">
                <h4 class="col-md-12" >Editar contraseña de {{user.username}}</h4>
            </div>
            <hr>
            {{ form_start(form, { 'action': path('administracion_edit_password_user', { 'id': user.id }) }) }}
            {{ form_widget(form) }}
            <br>
            <div>
                <input class="btn btn-primary btn-block" type="submit" value="Cambiar contraseña" />
            </div>
            {{ form_end(form) }}
            <hr>
            <a href="{{ path('administracion_show')}}" >Volver</a><br>
        </div>
    </div>
{% endblock %}