{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="tab-content">
            <div id="adm-users" class="tab-pane fade in active">
                <div class="col-lg-12">
                    <h3>Administración de usuarios</h3>
                </div>
                <div class="col-md-9"  style="padding: 20px; margin-bottom: 30px;">
                    <table class="col-md-12 table table-hover">
                        <thead>
                        <th>Activado</th>
                        <th>Username</th>
                        <th>Rol</th>
                        <th>E-mail</th>
                        <th style="width: 200px;"></th>
                        <th style="width: 50px;"></th>
                        <th style="width: 50px;">
                            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#add-user" style="margin-top: 20px;"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                {{ include('MainBundle:Administracion:modal/add-user.html.twig') }}
                        </th>
                        </thead>
                        <tbody>
                            {% for u in usuarios %}
                                <tr>
                                    <td style="vertical-align: middle;">
                                        {% if u.enabled %}
                                            <span class="glyphicon glyphicon-ok" style="color: green;"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;">{{u.username}}</td>
                                    <td style="vertical-align: middle;">
                                        {% for rol in u.roles %}
                                            {% if rol == 'ROLE_SUPER_ADMIN'%}
                                                Administrador
                                            {% endif %}
                                        {% endfor %}
                                        {% if u.roles | length == 1 %}
                                            Usuario
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle;">{{u.email}}</td>
                                    <td><a class="btn btn-default btn-block" href="{{ path('administracion_edit_password_user', { 'id': u.id })}}">Cambiar contraseña</a></td>
                                    <td><button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#edit-user-{{ u.id }}"><span class="glyphicon glyphicon-pencil" ></button></td>
                                        {{ render(controller('MainBundle:Administracion:renderModalEditUser', { 'id': u.id })) }}
                                    <td><button type="button" class="btn btn-danger btn-blok" data-toggle="modal" data-target="#remove-user-{{ u.id }}"><span class="glyphicon glyphicon-trash"></button></td>
                                        {{ render(controller('MainBundle:Administracion:renderModalRemoveUser', { 'id': u.id })) }}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="adm-cat" class="tab-pane fade">
                <div class="col-lg-12">
                    <h3>Administración de categorías</h3>
                </div>
                <div class="col-md-9"  style="padding: 20px; margin-bottom: 30px;">
                    <table class="col-md-12 table table-hover">
                        <thead>
                        <th>Nombre</th>
                        <th>Creado por</th>
                        <th style="width: 50px;"></th>
                        <th style="width: 50px;">
                            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#add-category" style="margin-top: 20px;"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                {{ include('MainBundle:Administracion:modal/add-category.html.twig') }}
                        </th>
                        </thead>
                        <tbody>
                            {% if categorias is not empty %}
                                {% for c in categorias %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{c.nombre}}</td>
                                        <td style="vertical-align: middle;">
                                            {% if c.createdby %}
                                                {{c.createdby.username }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td><button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#edit-category-{{ c.id }}"><span class="glyphicon glyphicon-pencil" ></button></td>
                                            {{ render(controller('MainBundle:Administracion:renderModalEditCategory', { 'id': c.id })) }}
                                        <td><button type="button" class="btn btn-danger btn-blok" data-toggle="modal" data-target="#remove-category-{{ c.id }}"><span class="glyphicon glyphicon-trash"></button></td>
                                            {{ render(controller('MainBundle:Administracion:renderModalRemoveCategory', { 'id': c.id })) }}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4">No hay categorias</td>
                                </tr>
                            {% endif%}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="adm-products" class="tab-pane fade">
                <div class="col-lg-12">
                    <h3>Administración de productos</h3>
                </div>
                <div class="col-md-9"  style="padding: 20px; margin-bottom: 30px;">

                    hola
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 45px;">
            <ul class="nav nav-pills nav-stacked" >
                <li class="active"><a data-toggle="tab" href="#adm-users" >Administracion de usuarios</a></li>
                <li><a data-toggle="tab" href="#adm-cat">Administracion de categorías</a></li>
                <li><a data-toggle="tab" href="#adm-products">Administracion de productos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}