<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Sell & Buy - OpBikes{% endblock %}</title>
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('assets/css/heroic-features.css')}}" rel="stylesheet">
        {% block stylesheets %}
            <style>
                @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

                .col-item {
                    border: 1px solid #E1E1E1;
                    border-radius: 15px;
                    background: #FFF;
                    margin-bottom:12px;
                }
                .col-item:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                .col-item .photo {
                    overflow: hidden;
                    border-radius: 15px 15px 0 0;
                }

                .col-item .photo img {
                    width: 100%;
                }

                .col-item .photo:hover .options,
                .col-item .photo:hover .options-cart {
                    display:block;
                }
                .col-item .info {
                    padding: 10px;
                    margin-top: 1px;
                }
                .col-item .price-details {
                    width: 100%;
                    margin-top: 5px;
                }
                .col-item .price-details h1 {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    float:left;
                    color: #AAA;
                }
                .col-item .price-details .details {
                    margin-bottom: 0px;
                    font-size:14px;
                }
                .col-item .price-details .price-new {
                    font-size:12px;
                    color: #08C;
                }

                .stylish-input-group .input-group-addon{
                    background: white !important; 
                }
                .stylish-input-group .form-control{
                    border-right:0; 
                    box-shadow:0 0 0; 
                    border-color:#ccc;
                }
                .stylish-input-group button{
                    border:0;
                    background:transparent;
                }
                .em, .em2{
                    color: white;
                }
                .m:hover .em, .m2:hover .em2 {
                    color: red;
                }

                .row {
                    margin-left:0;
                    margin-right:0;
                }

                .item h4 a {
                    color: #333;
                }

                .item img.image {
                    max-width: 100%;
                    margin-top: 9px;
                }

                .info {
                    padding:4px;
                }

                /* Isotope Transitions
                ------------------------------- */
                .isotope,
                .isotope .item {
                    -webkit-transition-duration: 0.8s;
                    -moz-transition-duration: 0.8s;
                    -ms-transition-duration: 0.8s;
                    -o-transition-duration: 0.8s;
                    transition-duration: 0.8s;
                }

                .isotope {
                    -webkit-transition-property: height, width;
                    -moz-transition-property: height, width;
                    -ms-transition-property: height, width;
                    -o-transition-property: height, width;
                    transition-property: height, width;
                }

                .isotope .item {
                    -webkit-transition-property: -webkit-transform, opacity;
                    -moz-transition-property:    -moz-transform, opacity;
                    -ms-transition-property:     -ms-transform, opacity;
                    -o-transition-property:         top, left, opacity;
                    transition-property:         transform, opacity;
                }


                /* responsive media queries */

                @media (max-width: 768px) {
                    header h1 small {
                        display: block;
                    }

                    header div.description {
                        padding-top: 9px;
                        padding-bottom: 4px;
                    }

                    .isotope .item {
                        position: static ! important;
                        -webkit-transform: translate(0px, 0px) ! important;
                        -moz-transform: translate(0px, 0px) ! important;
                        transform: translate(0px, 0px) ! important;
                    }
                }




                /* Style the Image Used to Trigger the Modal */
                .imp{
                    cursor: pointer;
                    transition: 0.3s;
                }

                .imp:hover {opacity: 0.7;}

                /* The Modal (background) */
                .modal {
                    display: none; /* Hidden by default */
                    position: fixed; /* Stay in place */
                    padding-top: 100px; /* Location of the box */
                    left: 0;
                    top: 0;
                    width: 100%; /* Full width */
                    height: 100%; /* Full height */
                    overflow: auto; /* Enable scroll if needed */
                    background-color: rgb(0,0,0); /* Fallback color */
                    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
                }

                /* Modal Content (Image) */
                .modal-content {
                    margin: auto;
                    display: block;
                    width: 80%;
                    max-width: 700px;
                }

                /* Caption of Modal Image (Image Text) - Same Width as the Image */
                #caption {
                    margin: auto;
                    display: block;
                    width: 80%;
                    max-width: 700px;
                    text-align: center;
                    color: #ccc;
                    padding: 10px 0;
                    height: 150px;
                }

                /* Add Animation - Zoom in the Modal */
                .modal-content, #caption { 
                    -webkit-animation-name: zoom;
                    -webkit-animation-duration: 0.6s;
                    animation-name: zoom;
                    animation-duration: 0.6s;
                }

                @-webkit-keyframes zoom {
                    from {-webkit-transform:scale(0)} 
                    to {-webkit-transform:scale(1)}
                }

                @keyframes zoom {
                    from {transform:scale(0)} 
                    to {transform:scale(1)}
                }

                /* The Close Button */
                .close2 {
                    position: absolute;
                    top: 15px;
                    right: 35px;
                    color: #f1f1f1;
                    font-size: 40px;
                    font-weight: bold;
                    transition: 0.3s;
                }

                .close2:hover,
                .close2:focus {
                    color: #bbb;
                    text-decoration: none;
                    cursor: pointer;
                }

                /* 100% Image Width on Smaller Screens */
                @media only screen and (max-width: 700px){
                    .modal-content {
                        width: 100%;
                    }
                }
                .menu-cat{
                    padding: 10px 0;
                }
                .menu-cat li{
                    height: 25px;
                    font-size: 15px;
                    margin: 6px 0;
                }

            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background-color: #ededed;">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #08C; border-bottom: 0px">
            <div class="container" style="margin-left: 0; margin-right: 0; width: 100%;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" >
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('main_homepage') }}"><img src="{{asset('assets/img/op-bikes-logo2_1.png')}}" style="width: 170px;"></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown m">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-menu-hamburger em"></span>
                                <span class="caret em"></span>
                            </a>
                            <ul class="dropdown-menu menu-cat" style=" border-radius: 0 0 15px 15px;">
                                {% for c in categorias%}
                                    <li>
                                        <a href="{{ path('main_homepage', {'id': c.id }) }}">
                                            {{c.nombre}}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="m">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% if not is_granted("ROLE_ADMIN") %}
                                    <a href="" data-toggle="modal" data-target="#add-product">
                                        <span class="glyphicon glyphicon-tag em"></span>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{{path('fos_user_security_login')}}"><span class="glyphicon glyphicon-tag em"></span></a>
                                {% endif %}
                        </li>
                        <li>
                            <form action="{{ path('main_search') }}">
                                <div class="input-group stylish-input-group" style="width: 200px; padding-top: 8px; padding-left: 10px;">

                                    <input type="text" class="form-control" name="search" placeholder="Buscar productos" >
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>  
                                    </span>

                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown m2">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user em2"></span>
                                    <span class="caret em2"></span>
                                </a>
                                <ul id="login-dp" class="dropdown-menu">
                                    <li class="text-center">
                                        <a href="{{ path('fos_user_profile_show') }}" style="margin-top: 5px;">
                                            <span class="glyphicon glyphicon-user" style="color: #08C; font-size: 25px; margin: auto auto;"></span><br>
                                            {{app.user.username}}
                                        </a>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            Cerrar sesión
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="m2">
                                    <a href="{{ path('administracion_show')}}">
                                        <span class="glyphicon glyphicon-cog em2"></span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="dropdown m2">
                                    <a href="{{ path('cart_show') }}" >
                                        <span class="glyphicon glyphicon-shopping-cart em2"></span>
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li style="margin-right: 15px;">
                                <p class="navbar-btn">
                                    <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Iniciar sesión</a>
                                </p>
                            </li>
                        {% endif %}
                </div>
            </div>
        </nav>
        <div class="container" >
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% if not is_granted("ROLE_ADMIN") %}
                {{ render(controller('MainBundle:Administracion:renderModalNewProduct')) }}
            {% endif %}
            {% block body %} {% endblock %}
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p></p>
                    </div>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            <script src="{{asset('assets/js/jquery.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
            <script>
                $.getScript('//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.25/jquery.isotope.min.js', function () {

                    /* activate jquery isotope */
                    $('#posts').imagesLoaded(function () {
                        $('#posts').isotope({
                            itemSelector: '.item'
                        });
                    });

                });

                // Get the modal
                var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
                var img_id = document.getElementById('myModal').getAttribute('data-producto');
                var img = document.getElementById(img_id);
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                };

// Get the <span> element that closes the modal
                var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                };
            </script>
        {% endblock %}
    </body>
</html>