{% extends 'base.html.twig' %}
{% block body %}
    <div class="row"> 

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
            <div class="list-group">
                {% for c in categorias%}
                    <a href="{{ path('producto', {'id': c.id })}}" class="list-group-item {% if cat == c %}active{% endif %} text-center">
                        <h4 class="fa fa-bicycle"></h4><br/>{{c.nombre}}
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-9 right">
            {% for u in productos %}
                <div class="col-sm-4">
                    <article class="col-item">
                        <div class="photo">
                            <div class="options">
                                <a href="{{ path('producto_show', {'id': u.id } ) }}" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="options-cart">
                                <button class="btn btn-default" title="Add to cart">
                                    <span class="fa fa-shopping-cart" style="color: #FE2E2E;"></span>
                                </button>
                            </div>
                            <a  href="{{ path('producto_show', {'id': u.id } ) }}"> <img src="{{ asset('uploads/img/' ~ u.img) }}" class="img-responsive" style="height: 150px;"/> </a>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="price-details col-md-6">
                                    <p class="details">
                                        {{ u.nombre|length > 30 ? u.nombre|slice(0, 30) ~ '...' : u.nombre  }}
                                    </p>
                                    <h1>{{u.category}}</h1>
                                    <span class="price-new">{{u.precio | number_format(2, ',', '.')}} €</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}