{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="row">
            <div class="col-xs-4 item-photo">
                <!-- The Modal -->
                <div id="myModal" class="modal" alt="{{producto.nombre}}" data-producto="{{producto.id}}">

                    <!-- The Close Button -->
                    <span class="close2" onclick="document.getElementById('myModal').style.display = 'none'">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">

                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
                <img id="{{producto.id}}" class="imp" style="max-width:100%; max-height: 500px; border-radius: 15px;" src="{{ asset('uploads/img/' ~ producto.img) }}" />
            </div>
            <div class="col-xs-8" style="border:1px solid lightblue; background-color: white; border-radius: 15px;">
                <h3>{{ producto.nombre }}</h3>    
                <h5 style="color:#337ab7">vendido por 
                    <a href="#">
                        {% if producto.createdby %}
                            {{producto.createdby}}
                        {% else %}
                            OPBIKES
                        {% endif %}
                    </a>
                </h5>
                <h6 class="title-price"><small>PRECIO</small></h6>
                <h3 style="margin-top:0px;">{{producto. precio | number_format(2, '.', ',')}} €</h3>

                <!-- Detalles especificos del producto -->
                <div class="section" style="padding-bottom:5px;">
                    <h6 class="title-attr"><small>DESCRIPCIÓN</small></h6>                    
                    <div>
                        <p>
                            {{producto.descripcion}}
                        </p>
                    </div>
                </div>   
                <div class="section" style="padding-bottom:20px;">
                    {% if not producto.buyat %}
                        {% if user != producto.createdby and not is_granted("ROLE_ADMIN") %}
                            {% if not incart %}
                                <a href="{{ path('cart_add', {'id': producto.id }) }}" class="btn btn-success">
                                    <span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 
                                    Agregar al carro
                                </a>
                            {% else %}
                                <a href="{{ path('cart_remove', {'id': producto.id }) }}" class="btn btn-danger">
                                    <span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 
                                    Quitar del carro
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") or user == producto.createdby %}
                            <button type="button" class="btn btn-warning "  data-toggle="modal" data-target="#edit-product-{{ producto.id }}">
                                <span class="glyphicon glyphicon-pencil" ></span>
                            </button>
                            {{ render(controller('MainBundle:Administracion:renderModalEditProduct', { 'id': producto.id })) }}
                            <button type="button" class="btn btn-danger btn-blok" data-toggle="modal" data-target="#remove-product-{{ producto.id }}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            {{ render(controller('MainBundle:Administracion:renderModalRemoveProduct', { 'id': producto.id })) }}
                        {% endif %}
                    {% else %}
                        <text style="color: red;">Este producto no esta disponible</text>
                    {% endif %}
                </div>                                        
            </div>          
            <div class="col-xs-12">
                <div class="col-lg-12">
                    <h3>Productos relacionados</h3>
                </div>
            </div>
            <div class="col-md-12">    
                <div style="width:100%;border-top:1px solid silver; padding-top: 15px;">
                    <div class="row">
                        {% set c = 0 %}
                        {% if ultimos_productos is not empty %}
                            {% for u in ultimos_productos %}
                                {% set c = c + 1 %}
                                <div class="item col-md-3 col-sm-6">
                                    <article id="{{c}}" class="col-item">
                                        <div class="photo">
                                            <a  href="{{ path('producto_show', {'id': u.id } ) }}"> <img src="{{ asset('uploads/img/' ~ u.img) }}" class="img-responsive"/> </a>
                                        </div>
                                        <div class="info">
                                            <div class="row">
                                                <div class="price-details col-md-6">
                                                    <span class="price-new">{{u.precio | number_format(2, ',', '.')}} €</span>
                                                    <p class="details">
                                                        {{ u.nombre|length > 700 ? u.nombre|slice(0, 70) ~ '...' : u.nombre  }}
                                                    </p>
                                                    <h1>{{u.category}}</h1>
                                                    <hr>
                                                    <div class="col-sm-2">
                                                        <span class="glyphicon glyphicon-user" style="color: #08C; font-size: 25px; margin: auto auto;"></span>
                                                    </div>
                                                    <div class="col-sm-10" style="margin-top: -10px;">
                                                        {% if u.createdby %}
                                                            {{u.createdby}}
                                                            <br>
                                                            <h1>{{u.createdby.n_products}} Productos</h1>
                                                        {% else %}
                                                            OPBIKES
                                                            <br>
                                                            <h1>Muchos Productos</h1>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="item col-xm-6 col-md-6 col-sm-6 text-center col-md-offset-3" style=" margin-top: 20px; font-size: 20px;">
                                <div class="info">
                                    No hay productos relacionados
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}