<div id="adm-users" class="tab-pane fade in active">
    <div class="col-md-9"  style="border: 1px solid lightblue; border-radius: 10px; padding: 20px; padding-top: 10px; margin-top: 15px; margin-bottom: 30px; background-color: white;">
        <div class="row" style="padding-bottom: 0px;">
            <h4 class="col-md-11" style="padding-top: 12px;" >Administración de usuarios</h4>
        </div>
        <table class="col-md-12 table table-hover">
            <thead>
            <th>Activado</th>
            <th>Username</th>
            <th>Rol</th>
            <th>E-mail</th>
            <th style="width: 200px;"></th>
            <th style="width: 50px;"></th>
            <th style="width: 50px;">
                <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#add-user" style="margin-top: 20px;"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    {{ include('MainBundle:Administracion:modal/add-user.html.twig') }}
            </th>
            </thead>
            <tbody>
                {% for u in usuarios %}
                    <tr>
                        <td style="vertical-align: middle;">
                            {% if u.enabled %}
                                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle;">{{u.username}}</td>
                        <td style="vertical-align: middle;">
                            {% for rol in u.roles %}
                                {% if rol == 'ROLE_SUPER_ADMIN'%}
                                    Administrador
                                {% endif %}
                            {% endfor %}
                            {% if u.roles | length == 1 %}
                                Usuario
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle;">{{u.email}}</td>
                        <td><a class="btn btn-default btn-block" href="{{ path('administracion_edit_password_user', { 'id': u.id })}}">Cambiar contraseña</a></td>
                        <td><button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#edit-user-{{ u.id }}"><span class="glyphicon glyphicon-pencil" ></button></td>
                            {{ render(controller('MainBundle:Administracion:renderModalEditUser', { 'id': u.id })) }}
                        <td><button type="button" class="btn btn-danger btn-blok" data-toggle="modal" data-target="#remove-user-{{ u.id }}"><span class="glyphicon glyphicon-trash"></button></td>
                            {{ render(controller('MainBundle:Administracion:renderModalRemoveUser', { 'id': u.id })) }}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>